
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href={% url 'home' %}>
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">Records</li>
          <li class="nav-item">
            <li class="nav-item"> <a class="nav-link" href={% url 'assetshome' %}>Assets</a></li>
                <li class="nav-item"> <a class="nav-link" href={% url 'LogsHome' %}>Logs</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Misc.</a></li>
          </li>
          
        </ul>
      </nav>
